{% set title = title|default('Title') %}
{% set formAction = formAction|default(null) %}
{% set htmxTrigger = htmxTrigger|default(null) %}
{% set htmxSwapSection = htmxSwapSection|default(null) %}
{% set formRedirect = fromRedirect|default(craft.request.url) %}

{% if formAction %}
    {% requireLogin %}
{% endif %}


<div class="dialog | transition-all duration-700 bg-white fixed top-0 bottom-0 w-dialog m-4 z-50 shadow-2xl p-12 rounded-lg right-0"
     x-data="{dialogOpen: false,showContent: false}"
     x-show="dialogOpen"
     @htmx:after-swap.camel.window="showContent = true"
     x-transition:enter-start="ease-in opacity-0 transform -right-dialog"
     x-transition:enter-end="opacity-100 transform right-0"
     x-transition:leave-start="ease-out opacity-100 transform right-0"
     x-transition:leave-end="opacity-0 transform -right-dialog"
     @click.away="dialogOpen = false; showContent = false;"
     @dialog.window="dialogOpen = $event.detail.open">

    <div class="dialog__content-wrap | transition-all ease-in-out duration-100"
         x-show="showContent"
         x-transition:enter-start="opacity-0"
         x-transition:enter-end="opacity-100"
         x-transition:leave-start="opacity-100"
         x-transition:leave-end="opacity-0">

        <div class="dialog__content" id="dialog">
            {% if formAction %}
                <form method="post"
                      accept-charset="UTF-8"
                      hx-ext="json-enc"
                      hx-post="{{ actionUrl(formAction) }}"
                      {% if htmxSwapSection %}hx-target="{{ htmxSwapSection }}"{% endif %}
                      {% if htmxSwapSection %}hx-select="{{ htmxSwapSection }}"{% endif %}
                      {% if htmxTrigger %}hx-trigger="{{ htmxTrigger }}"{% endif %}
                      hx-indicator="#page-loader"
                      hx-swap="outerHTML"
                      class="dialog__form | flex flex-col justify-between h-full"
                >
                    <input type="hidden" name="action" value="{{ formAction }}">
                    <input type="hidden" name="htmx" value="true">
                    <input type="hidden" name="elementId" value="{{ id }}">
                    <input type="hidden" name="redirect" value="{{ formRedirect }}">

                    {{ csrfInput() }}
                    <div class="dialog__main">
                        <h1 class="dialog__title">{{ title }}</h1>
                        {% block main %}

                        {% endblock %}
                    </div>
                    <div class="dialog__actions">
                        {% block actions %}
                            {% include '_fabric/components/action' with {
                                text: 'Close'|t,
                                size: 'large',
                                style: 'outline',
                                color: 'primary',
                                icon: 'fas fa-times',
                                fullWidth: true,
                                attributes: {
                                    'title' : 'Close this dialog'|t,
                                    '@click' : 'dialogOpen = false; showContent = false;'
                                }
                            } only %}
                        {% endblock %}
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
</div>
