{% set context = context|default('default') %}
{% set title = title %}
{% set id = id %}
{% set kind = kind %}
{% set file = file %}
{% set editUrl = editUrl %}
{% set buttonSize = context == 'card' ? 'small' : 'default' %}

<div class="quick-actions">
    <h4>Quick actions</h4>

    {% block quickActionsMain %}
        {% if kind != 'entry' %}
            {% include '_library/components/action.twig' with {
                action: craft.library.damActive ? craft.dam.download(file) : file.url,
                text: 'Download'|t,
                size: buttonSize,
                classes: ['bg-primary','text-canvas'],
                icon: 'fas fa-download',
                attributes: {
                    'title' : 'Download this asset'|t,
                    'download' : title
                }
            } %}
        {% endif %}
    {% endblock %}

    {% if currentUser %}
    <div class="more-actions" x-data="{ dropdown{{ id }}open: false }">
        <div class="action action--{{ buttonSize }} action--icon-only bg-canvas" @click="dropdown{{ id }}open = true">
            <i class="fas fa-ellipsis-h" aria-hidden="true"></i> <span>{{ 'Actions'|t }}</span>
        </div>
        <div class="dropdown" x-show="dropdown{{ id }}open" @click.away="dropdown{{ id }}open = false">
            <ul class="dropdown__items">
            {% block quickActionsMore %}
                {% include '_library/components/action.twig' with {
                    text: 'Share'|t,
                    action: '/dialog/share/' ~ id,
                    size: buttonSize,
                    classes: ['action--list-item'],
                    icon: 'fas fa-link',
                    target: 'dialog',
                    attributes: {
                        'title' : 'Get a public link for this asset'|t,
                    }
                } %}
                {% if editUrl %}
                    {% include '_library/components/action.twig' with {
                        text: 'Edit'|t,
                        action: editUrl,
                        size: buttonSize,
                        classes: ['action--list-item'],
                        icon: 'fas fa-pen',
                        target: 'blank',
                        attributes: {
                            'title' : 'Edit asset in control panel'|t,
                        }
                    } %}
                {% endif %}
            {% endblock %}
            </ul>
        </div>
    </div>
    {% endif %}

</div>