{% set handle = handle %}
{% set settings = settings %}
{% set element = element %}

{% set field = craft.fields.fieldByHandle(handle) %}
{% set fieldName = field.name %}
{% set fieldValue = element.fieldValue(handle) %}
{% if (fieldValue is not iterable and fieldValue) or (fieldValue is iterable and fieldValue|length) %}
    {% switch field.instance %}
    {% case 'craft\\fields\\PlainText' %}
        <h3>{{ fieldName }}</h3>
        {{ fieldValue }}
    {% case 'craft\\fields\\Tags' %}
        <h3>{{ fieldName }}</h3>
        {% for tag in fieldValue %}
            {{ tag }}
        {% endfor %}
    {% case 'craft\\fields\\Categories' %}
        <h3>{{ fieldName }}</h3>
        {% for category in fieldValue %}
            {{ category }}
        {% endfor %}
    {% endswitch %}
{% endif %}