{% extends '_dialogs/_layout.twig' %}

{# Get users lightboxes #}
{% set lightboxSection = craft.library.settings['lightboxesHandle'] %}
{% set lightboxes = craft.entries.section(lightboxSection).authorId(currentUser.id) %}

{# Get asset #}
{% set asset = craft.assets.id(id).one() %}


{% block main %}

    <img src="{{ asset.url }}" alt="">

    <form action="/actions/library/lightbox/add" method="post">

        {{ getCsrfInput() }}

        <input type="hidden" name="assetId" id="assetId" value="{{ id }}">

        <select name="lightboxId" id="lightboxId">
            <option value="0">Create new...</option>
            {% for lightbox in lightboxes %}
                <option value="{{ lightbox.id }}" {{ loop.index == 1 ? 'selected' }}>{{ lightbox.title }}</option>
            {% endfor %}
        </select>

        <input type="text" name="lightboxTitle" id="lightboxTitle">

        <input type="submit" value="Submit">

    </form>
{% endblock %}
