{# Field - Generates an input with optional label #}

{# type <string> The field type #}
{% set type = type|default('text') %}

{# id <string> The id attribute of the field #}
{% set id = id|default(null) %}

{# name <string> The name attribute of the field #}
{% set name = name|default(null) %}

{# label <string> The label prepended to the input #}
{% set label = label|default(null) %}

{# showlabel <bool> Whether the label before the input is visible #}
{% set showlabel = showlabel|default(true) %}

{# placeholder <string> The field's placeholder text #}
{% set placeholder = placeholder|default(null) %}

{# value <string> The set value of the field #}
{% set value = value|default(null) %}

{# required <bool> Whether this field is required #}
{% set required = required|default(false) %}

{# fullwidth <bool> Stretch the field to the width of the container #}
{% set fullwidth = fullwidth|default(true) %}

{# arialabel <string> Define the aria description #}
{% set arialabel = arialabel|default(label is defined ? label : null) %}

{# size <string> The size of the input
    'small': A compact form field #}
{% set size = size|default('default') %}

{# labelPosition <string> Whether the label is before the field ('default'), or 'wrap' #}
{% set labelPosition = labelPosition|default('default') %}

{# postition <string> if field is part of a group then define postition to style appropriately
    'start': The first field of a column of fields
    'end': The last field of a column of fields
#}
{% set position = position|default(null) %}

<div>
    {% if label %}
        {% if labelPosition == 'default' %}
            <label {% if name %}for="{{ name }}"{% endif %} class="block {{ size == 'small' ? 'text-sm' }}">{{ label }}</label>
        {% elseif labelPosition == 'wrap' %}
            <label class="block {{ size == 'small' ? 'text-sm' }}">
        {% endif %}
    {% endif %}

    {% block field %}
        {% include ['_fabric/components/input/' ~ type, '_fabric/components/input/text.twig'] %}
    {% endblock %}

    {% if label and labelPosition == 'wrap' %}
        {{ label }}</label>
    {% endif %}
</div>