{# Variables #}
{% set pageTitle = pageTitle|default('Page title') %} {# The current page title #}
{% set pageBreadcrumbs = breadcrumbs|default([]) %} {# An array of the parent pages #}
{% set hidePageBreadcrumb = hidePageBreadcrumb|default(false) %} {# Removes the current page from breadcrumbs #}

{% set breadcrumbs = []%}

{# If page breadcrumbs have been defined #}
{% if pageBreadcrumbs %}
    {% set breadcrumbs = breadcrumbs|merge(pageBreadcrumbs) %}
{% endif %}

{# TODO: do I ever want page title in breadcrumb? #}
{# Last breadcrumb is always page title #}
{#{% if pageTitle and not hidePageBreadcrumb %}#}
{#    {% set breadcrumbs = breadcrumbs|merge([{#}
{#        'title': pageTitle,#}
{#        'url': '#'#}
{#    }]) %}#}
{#{% endif %}#}

<nav class="breadcrumbs">
    <a href="{{ siteUrl }}" aria-label="{{ siteName }}" class="breadcrumb breadcrumb--first text-type">
        {% if craft.app.editionName == 'Pro' and craft.rebrand.isIconUploaded() %}
            <img class="breadcrumb__icon" src="{{ craft.rebrand.getIcon().url }}" alt="{{ siteName }}"> {{ siteName }}
        {% else %}
            {{ siteName }}
        {% endif %}
    </a>
    {% for breadcrumb in breadcrumbs %}
        <a href="{{ breadcrumb.url }}" class="breadcrumb  text-type">
            {{ breadcrumb.title }}
        </a>
    {% endfor %}
</nav>
