{# Action - Creates a button #}

{#
    Variables
#}

{# text <string> [required] Defines the text to display on the action #}
{% set text = text %}

{# action <string> Defines the href of the action #}
{% set action = action|default(null) %}

{# target <string> Defines the target of the action #}
{% set target = target|default(null) %}

{# size <string> Defines the size of the button small|default|large #}
{% set size = size|default('default') %}

{# type <string> Defines the type of the action
'default': A standard html <a> hyperlink
'list-item': Wraps an <a> with a <li>
'submit': Creates a <button> element with type="submit" #}
{% set type = type|default('default') %}

{# style <string> Defines the style of the action
'default': A standard button
'icon-only': Shows only an icon and hides text
#}
{% set style = style|default('default') %}

{# icon <string> Defines the font awesome icon e.g. 'fas fa-download' #}
{% set icon = icon|default(null) %}

{# attributes <array> A list of additional arttributes as an array e.g.
    {
        'title' : 'Download this asset',
        'download' : true
    }
#}
{% set attributes = attributes|default({}) %}

{# fullWidth <bool> Stretch the button to the width of the container #}
{% set fullWidth = fullWidth|default(false) %}

{# color <string> the colour of the background/outline #}
{% set color = color|default('gray-500') %}

{# textColor <string> the colour of the text #}
{% set textColor = textColor|default('white') %}


{#
    Logic
#}

{# If target is dialog, add htmx goodness #}
{% if target %}
    {% if target == 'dialog' %}
        {% set attributes = attributes|merge({
            'hx-get': action,
            'hx-target': '#dialog',
            'hx-select': '#dialog',
            'hx-swap' : 'outerHTML swap:0.3s',
            'data-hx-indicator': '#page-loader',
            '@click' : "$dispatch('dialog', { open: true })",
        }) %}
    {% else %}
        {% set attributes = target ? attributes|merge({'target': target}) %}
    {% endif %}
{% endif %}

{#
    Template
#}

{{ type == 'list-item' ? '<li>' }}
<{{ type == 'submit' ? 'button type="submit"' : 'a' }}
    {% if type != 'submit' and action %}href="{{ action }}"{% endif %}
    class="inline-block px-3 py-2 rounded cursor-pointer no-underline
        {{ fullWidth ? 'w-full text-center' }}
        {{ type == 'list-item' or style == 'outline' ? 'bg-transparent text-gray-900' : 'bg-' ~ color }}
        {{ size == 'large' ? 'text-lg' }}
        {{ size == 'small' ? 'text-sm' }}
        {{ style == 'outline' ? 'border border-solid border-' ~ color ~ ' text-' ~ color : 'border-0 text-' ~ textColor  }}"
    {% for attr,value in attributes %}{{ attr }}="{{ value }}"{% endfor %}>
        {% if icon %}<i class="{{ icon }}" aria-hidden="true"></i> {% endif %}<span class="{{ style == "icon-only" ? 'hidden' }}">{{ text }}</span>
</{{ type == 'submit' ? 'button' : 'a' }}>
{{ type == 'list-item' ? '</li>' }}


{# TODO: title should be baked-in attribute #}