<div class="branding || w-full h-full max-w-brand">
    <a href="{{ siteUrl }}" aria-label="{{ siteName }}">
    {% if craft.app.editionName == 'Pro' and craft.rebrand.isLogoUploaded() %}
        <img class="w-full h-full" src="{{ craft.rebrand.getLogo().url }}" alt="{{ siteName }}">
    {% else %}
        {{ siteName }}
    {% endif %}
    </a>
</div>