{# TODO: allow turning off of htmx? #}
{# TODO: Clear filters option #}

<div class="listing-filter | relative"
     x-data="{ dropdownlistingfilteropen: false }">
    {% include '_fabric/components/action.twig' with {
        text: 'Filters'|t,
        icon: 'fas fa-filter',
        style: 'outline',
        color: 'primary',
        attributes: {'@click':'dropdownlistingfilteropen =! dropdownlistingfilteropen'}
    } %}

    {% embed '_fabric/components/dropdown' with {
        id: 'listingfilter'
    } %}
        {% block dropdownItems %}
            <form action="/{{ craft.app.request.fullPath }}{% if category %}?category={{ category.id }}{% endif %}" method="GET"
                  data-hx-get="/{{ craft.app.request.fullPath }}{% if category %}?category={{ category.id }}{% endif %}"
                  data-hx-indicator="#page-loader"
                  data-hx-select=".results__main"
                  data-hx-target=".results__main"
                  data-hx-swap="outerHTML"
                  data-hx-push-url="true"
                  hx-trigger="change"
            >
                {% if keywords %}
                    <input type="hidden" name="q" value="{{ keywords }}">
                {% endif %}
                {% include '_fabric/components/filters/order.twig' %}
                {% include '_fabric/components/filters/kind.twig' %}

                <input type="submit" value="Go" class="listing-filter__submit | hidden">
            </form>
        {% endblock %}
    {% endembed %}
</div>
