<div class="listing-context | text-gray-800">
    {% if hasAssets or hasEntries %}
        Found
        {% if hasAssets and hasEntries %}
                <span class="font-medium">{{ totalEntries + assetQueryLength }} {{ kind ? craft.fabric.settings.filterFileKinds[kind].title|lower : 'items' }}</span>
        {% else %}
            {% if hasAssets %}
                <span class="font-medium">{{ assetQueryLength }}
                        {{ kind ? craft.fabric.settings.filterFileKinds[kind].title|lower : 'assets' }}</span>
            {% endif %}
            {% if hasEntries %}
                <span class="font-medium">{{ totalEntries }} {{ assetQueryLength > 1 ? 'entries' : 'entry' }}</span>
            {% endif %}
        {% endif %}
        ordered by
        <span class="font-medium">{{ craft.fabric.settings.filterOrdering[order].label }}</span>

    {% else %}
        No {{ kind ? craft.fabric.settings.filterFileKinds[kind].title|lower : 'items' }} found
    {% endif %}
</div>

