{# Message - Can be used as an include, or embeded for greater control #}

{# text <string> The message's text #}
{% set text = text|default(null) %}

{# type <string> Defines the sentiment of the message
'default': Standard grey message
'error': Red
'success': Green
'warning': Amber
'info': Blue
#}
{% set type = type|default('default') %}

{# centered <string> Centers the text #}
{% set centered = centered|default(false) %}

{% switch type %}
{% case 'default' %}
    {% set color = 'gray' %}
{% case 'error' %}
    {% set color = 'red' %}
{% case 'success' %}
    {% set color = 'green' %}
{% case 'warning' %}
    {% set color = 'yellow' %}
{% case 'info' %}
    {% set color = 'blue' %}
{% endswitch %}

{% if text|length %}
<div class="message | p-3 rounded bg-{{ color }}-500 bg-opacity-20 border border-solid border-{{ color }}-500 text-{{ color }}-600 {{ centered ? 'text-center' }}">
    {% if text is iterable %}
        <ul>
            {% for message in text %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% else %}
        {{ text }}
    {% endif %}
</div>
{% endif %}