{% set handle = handle %}
{% set element = element %}
{% set settings = settings %}

{% set fieldName = settings.label %}
{% set file = craft.fabric.siloActive ? element.file : element %}

{% if handle starts with 'fabric_' %}
    {% set field = craft.fields.fieldByHandle(handle) %}
    {% set instance = 'fileAttribute' %}
    {% set attribute = handle|trim('fabric_') %}
    {% set fieldValue = file[attribute] %}
{% else %}
    {% set field = craft.fields.fieldByHandle(handle) %}
    {% set instance = field.instance %}
    {% set fieldValue = element.fieldValue(handle) %}
{% endif %}

{% if (fieldValue is not iterable and fieldValue) or (fieldValue is iterable and fieldValue|length) %}
    {% switch instance %}
    {% case 'craft\\fields\\PlainText' %}
        <h3>{{ fieldName }}</h3>
        {{ fieldValue }}
    {% case 'craft\\fields\\Tags' %}
        <h3>{{ fieldName }}</h3>
        {% for tag in fieldValue %}
            {{ tag }}
        {% endfor %}
    {% case 'craft\\fields\\Categories' %}
        <h3>{{ fieldName }}</h3>
        {% for category in fieldValue %}
            {{ category }}
        {% endfor %}
    {% case 'fileAttribute' %}
        {% switch handle %}
        {% case 'fabric_size' %}
            <h3>{{ fieldName }}</h3>
            {{ fieldValue|filesize }}
        {% case 'fabric_dimensions' %}
            <h3>{{ fieldName }}</h3>
            {{ fieldValue }}px
        {% case 'fabric_kind' %}
            <h3>{{ fieldName }}</h3>
            {{ file.kind }}/{{ file.extension }}
        {% endswitch %}
    {% endswitch %}
{% endif %}
