{% if currentUser %}
    {% redirect '/' %}
{% endif %}

{% extends "_fabric/layouts/action-page.twig" %}

{% block main %}
    {% include '_fabric/components/branding.twig' %}

    {% if craft.app.request.queryParam('status') == 'success' %}
        <h2>Password reset</h2>
        <p>You will shortly receive an e-mail with instructions on how to reset your password.</p>
    {% else %}
        <h2>Password reset</h2>
        <form method="post" accept-charset="UTF-8">

            {{ csrfInput() }}
            {{ actionInput('users/send-password-reset-email') }}
            {{ redirectInput('/forgotpassword?status=success') }}


            <div class="form-field form-field--full-width">
                {{ input('text', 'loginName', loginName ?? craft.app.user.rememberedUsername, {
                    id: 'loginName',
                    class: 'focus:border-primary',
                }) }}
            </div>


            <div class="form-field form-field--full-width">
                {% include '_fabric/components/action.twig' with {
                    text: 'Reset password'|t,
                    type: 'submit',
                    size: 'large',
                    fullWidth: true,
                    attributes: {
                        'title' : 'Reset your password'|t
                    }
                } %}
            </div>

            {% if errors ?? false %}
                <div class="message message--centered message--space-top message--error">
                     {{ ul(errors, {class: 'errors'}) }}
                </div>
            {% endif %}


        </form>
    {% endif %}
{% endblock %}
