{% extends '_fabric/layouts/page.twig' %}

{# Define the type of element the listing will show #}
{% set show = elementType|default('all') %}
{% set pageTitle = 'All items' %}

{% set sourcePage = 0 %}
{% set elementSource = elementSource is defined and elementSource ? elementSource|camel : 0 %}

{# Set up page settings #}
{% if show != 'all' %}
    {% if show == 'entries' %}
        {% set pageTitle = 'All entries' %}
        {% if elementSource  %}
            {% set entrySection = craft.entries.section(elementSource) %}
            {% set pageTitle = craft.sections.sectionByHandle(elementSource).name %}
            {% set sourcePage = 1 %}
        {% endif %}
    {% else %}
        {% set pageTitle = 'All Assets' %}
        {% set sourcePage = 1 %}
    {% endif %}
{% endif %}

{# Set defaults #}
{% set hasAssets = 0 %}
{% set hasEntries = 0 %}
{% set queryLimit = sourcePage ? 30 : 5 %}


{# Set up category if it exists #}
{% set categoryId = craft.app.request.getParam('category') %}
{% if categoryId is defined and categoryId %}
    {% set category = craft.categories.id(categoryId).one() %}
    {% set pageTitle = category.title %}
    {% set sourcePage = 1 %}
    {# If category has parent, build breadcrumbs YUM #}
    {% if category.parent %}
        {% set breadcrumbs = [] %}
        {% for category in category.ancestors.all() %}
            {% set breadcrumbs = breadcrumbs|merge([{
                'title' : category.title,
                'url' :  url('listing/all?category=' ~ category.id )
            }]) %}
        {% endfor %}
    {% endif %}
{% endif %}

{# Pass the page title to the page header #}
{% block pageHeader %}
    {% set pageTitle = keywords ? "Searching for '" ~ keywords ~ "'" : pageTitle %}
    {{ parent() }}
{% endblock %}

{% block pageMain %}
    {# If assets to be show, do an asset query #}
    {% if show in ['all','assets'] %}
        {# Get assets source #}
        {% if craft.fabric.siloActive %}
            {% set assets = craft.siloAssets %}
        {% else %}
            {% set assets = craft.assets.volume(craft.fabric.settings.assetsSource) %}
        {% endif %}

        {# Set query #}
        {% set assetQuery = assets %}

        {% set assetQuery = assetQuery
            .search(keywords)
            .kind(kind)
            .relatedTo(category)
            .orderBy(order)
            .with(['file[0]']) %}

        {% set assetQueryLength = assetQuery|length %}

        {% set hasAssets = assetQueryLength %}

        {% set assetQueryLimited = assetQuery
            .limit(queryLimit) %}

        {% set assetQueryLimitedLength = assetQueryLimited|length %}

    {% endif %}

    {# If entries to be shown, do an entry query #}
    {% if show in ['all','entries'] %}

        {% if elementSource %}
            {% set sectionQuery = craft.entries
                .section(elementSource)
                .search(keywords)
                .relatedTo(category)
                .orderBy(order)
                .limit(queryLimit) %}
            {% set sectionQueryLength = sectionQuery|length %}
            {% set entryQueries = { elementSource : {
                'title': null,
                'query':sectionQuery,
                'length': sectionQueryLength,
                'thumbnailField': craft.fabric.settings.entrySources[elementSource].thumbnailField is defined ? craft.fabric.settings.entrySources[elementSource].thumbnailField
            }} %}
            {% set hasEntries = sectionQueryLength %}
        {% else %}
            {% set entryQueries = {} %}
            {% set totalEntries = 0 %}
            {% for source, settings in craft.fabric.settings.entrySources if (settings['enabled'] and settings['showInSearch']) %}
                {% set sectionQuery = craft.entries
                    .section(source)
                    .search(keywords)
                    .relatedTo(category)
                    .orderBy(order)
                    .limit(queryLimit) %}
                {% set sectionQueryLength = sectionQuery|length %}
                {% set totalEntries = totalEntries + sectionQueryLength %}
                {% if sectionQueryLength %}
                    {% set entryQueries = entryQueries|merge({
                        (source) : {
                            'title': craft.sections.sectionByHandle(source).name,
                            'query': sectionQuery,
                            'length': sectionQueryLength,
                            'thumbnailField': settings.thumbnailField is defined ? settings.thumbnailField
                        }
                    }) %}
                {% endif %}
            {% endfor %}
            {% set hasEntries = totalEntries %}
        {% endif %}


    {% endif %}

    <div class="results" id="results">
        {% if hasAssets or hasEntries %}
            <div class="container">
                <div class="results__toolbar">
                    {#  TODO: get context back in #}
                    {# total assets: {{ totalAssets }}, total entries: {{ totalEntries }}, all: {{ totalAssets + totalEntries }} #}
                    {#{% include '_fabric/components/listingContext.twig' %}#}
                    <div></div>
                    {% include '_fabric/components/listingFilter.twig' %}
                </div>
            </div>

            <div class="results__main">
                {% if hasAssets %}
                    {% if not sourcePage %}
                        <div class="container">
                            <h2 class="results__title">Assets</h2>
                        </div>
                    {% endif %}

                    {% include '_fabric/components/listing.twig' with {
                        elementType: 'asset',
                        items: assetQuery
                    } only %}

                    {% if assetQueryLength > queryLimit %}
                        <div class="container text-right">
                            <a class="action action--large" href="{{ url('listing/assets/?' ~ craft.request.queryStringWithoutPath ) }}">
                                View all {{ assetQueryLength }} assets <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    {% endif %}
                {% endif %}

                {% if hasAssets and hasEntries %}
                    <hr>
                {% endif %}

                {% if hasEntries %}
                    {% for sectionHandle, entryQuery in entryQueries %}
                        {% if entryQuery.title %}
                            <div class="container">
                                <h2 class="results__title">{{ entryQuery.title }}</h2>
                            </div>
                        {% endif %}

                        {% include '_fabric/components/listing.twig' with {
                            elementType: 'entry',
                            items: entryQuery.query.all,
                            thumbnailField: entryQuery.thumbnailField
                        } only %}

                        {% if entryQuery.length > queryLimit %}
                            <div class="container text-right">
                                <a class="action action--large" href="{{ url('listing/entries/' ~ sectionHandle|kebab ~ '/?' ~ craft.request.queryStringWithoutPath ) }}">
                                    View all {{ entryQuery.length }} entries <i class="fas fa-arrow-right"></i>
                                </a>
                            </div>
                        {% endif %}

                        {% if not loop.last %}
                            <hr>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        {% else %}
            No items found
        {% endif %}
    </div>

{% endblock %}