{% if not craft.fabric.settings.private %}
    {% redirect '/' %}
{% endif %}

{% extends "_fabric/layouts/action-page.twig" %}

{% block main %}
    {% include '_fabric/components/branding.twig' %}
    <form method="post" accept-charset="UTF-8">
        {{ csrfInput() }}
        {{ actionInput('users/login') }}

        <div class="field-group field-group--join">
            <div class="form-field form-field--join form-field--full-width form-field--join form-field--join-start">
                <input id="loginName" class="focus:border-primary" type="text" name="loginName"
                       placeholder="Username or Email" aria-label="Username or Email"
                       value="{{ craft.app.user.rememberedUsername }}" required>
            </div>

            <div class="form-field form-field--full-width form-field--join form-field--join-end">
                <input id="password" class="focus:border-primary" type="password" name="password" placeholder="Password"
                       aria-label="Password" required>
            </div>
        </div>

        <div class="field-group">
            <div class="form-field flex justify-between">
                <label class="text-sm">
                    <input type="checkbox" name="rememberMe" value="1">
                    Keep me logged in
                </label>
                <a href="{{ url('forgotpassword') }}" class="text-sm text-primary">Forget your password?</a>
            </div>
            <div class="actions actions--vertical actions--space-top">
                {% include '_fabric/components/action.twig' with {
                    type: 'submit',
                    fullWidth: true,
                    text: 'Login'|t,
                    size: 'large',
                    attributes: {
                        'title' : 'Login'|t
                    }
                } %}
                {% if craft.app.projectConfig.get('users').allowPublicRegistration %}
                    <a class="action action--full-width border-primary text-primary"
                       href="{{ url('register') }}">Register</a>
                {% endif %}
            </div>

            {% if errorMessage is defined %}
                <div class="message message--centered message--space-top status-error">
                    {{ errorMessage }}
                </div>
            {% endif %}
        </div>

    </form>
{% endblock %}




