{% set entry = entryId is defined ? craft.entries.id(entryId).one() : entry %}
{% set section = section is not defined ? entry.section : section %}

{% set pageTitle = entry.title %}
{% set publicPage = craft.fabric.isPublic(entry) %}

{% extends '_fabric/layouts/page.twig' %}

{% block pageMain %}

    {# Get settings for entry's source #}
    {% set sourceSettings = craft.fabric.settings.entrySources[section|camel] %}

    {% if sourceSettings.entryTemplate is defined %}
        {% include sourceSettings.entryTemplate %}
    {% else %}

        {% for fieldLayoutField in entry.fieldLayout.fields %}
            {% set field = craft.fields.getFieldById(fieldLayoutField.id) %}

            {% switch field.instance %}
            {% case 'craft\\fields\\PlainText' %}
                <h3>{{ field.name }}</h3>
                {{ entry.fieldValues[field.handle] }}
            {% case 'craft\\fields\\Matrix' %}
                {% for matrixBlock in entry.fieldValues[field.handle] %}
                    <h3>{{ field.name }}</h3>
                    {% for matrixField in matrixBlock.fieldLayout.fields %}
                        <h3>{{ matrixField.name != '__blank__' ? matrixField.name }}</h3>
                        {{ entry.fieldValues[field.handle][0][matrixField.handle] }}
                    {% endfor %}
                {% endfor %}
            {% endswitch %}
        {% endfor %}
    {% endif %}
{% endblock %}